/* Services */
.services__item {
    padding: 15px;
    text-align: center;
    border-radius: 25px;
    background-color: rgba(0, 18, 51, 0.5);
    height: 100%;
}

.services__icon {
    font-size: 3em;
}

.services__title {
    font-family: 'Changa', sans-serif;
    font-weight: 200;
    letter-spacing: 3px;
}

.services__description {
    font-weight: 300;
    margin-bottom: 0;
}

.text__small {
    font-size: 85%;
    color: rgb(193, 198, 209);
}

/* Team */
.team {
    background-color: rgb(0, 102, 200);
    justify-content: space-around;
}

.team__item {
    text-align: center;
    height: 90%;
}

.member__picture {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    filter: hue-rotate(-170deg) contrast(140%) ;
}

.member__picture:hover {
    transform: scale(1.3) rotate(15deg);
    filter: hue-rotate(-170deg) contrast(125%) brightness(95%);
}

.member__name {
    font-family: 'Changa', sans-serif;
    font-weight: 400;
    font-size: 2.25em;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-top: 0.25em;
    margin-bottom: 0;
}

.hr-50 {
    display: inline-flex;
    width: 30%;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-top: 1.5px solid rgb(0, 13, 37);
}

.member__description {
    font-size: 0.9em;
}

/* @media (min-width: 640px) {
    .img-before-team {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
} */