
.modal-container {
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.show-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 35%;  
    border-radius: 10px;
    animation: modalopen 0.75s ease-in;
}

.close-icon {
    float: right;
    color: rgba(0, 18, 51, 1);
    font-size: 24px;
    position: relative;
    top: 15px;
    right: 15px;
    user-select: none;
    cursor: pointer;
    z-index: 3;
    transition: transform 1s;
}

.close-icon:hover {
    transform: rotate(90deg);
}

.modal-content {
    padding: 40px 20px;
    background: whitesmoke;
}

.modal__title {
    font-family: 'Changa', sans-serif;
    font-weight: 700;
    font-size: 3em;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: rgb(0, 13, 37);
    margin: 0;
}

.modal__subtitle {
    text-transform: uppercase;
    color: rgb(0, 13, 37);
    font-weight: 600;
    font-size: 1.75em;
    margin: 0;
}

.modal__description {
    color: rgb(0, 24, 69);
    margin: 0.25em 0 1.5em 0;
}

.especial-text {
    color: rgb(255, 238, 3);
    -webkit-text-stroke-width: 1.5px; 
            -webkit-text-stroke-color: rgb(0, 24, 69) ; 
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.btn-tertiary {
    background: linear-gradient(to left, rgb(0, 78, 146) 50%, rgb(255, 238, 3) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
    border: 2px solid rgb(255, 238, 3);
    color: rgb(255, 238, 3);
}

.btn-tertiary:hover {
background-position: left bottom;
color: rgb(0, 78, 146);
}

.btn-tertiary--active {
background: rgb(255, 238, 3);
color: white;
font-weight: 600;
}



/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
 .heartbeat {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
 @-webkit-keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
  

/* Media Queria Query Smaller then Tablet 992px */
@media (max-width: 992px) {
    .modal {
        width: 65%; 
    }
}

