/* Nav-social */
.nav-social {
    margin: 1.25em 0 1.25em 0;
}

.nav-social ul {
    list-style: none;
    margin: 0.75em 0;
    padding: 0;
    display: flex;
}

.nav-social ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.nav-social li {
    font-size: 1.25em;
    padding: 0 1.25em 0 1.25em;
    transition: transform 0.3s ease-in;
}

.nav-social li:active {
    transform: translateY(0.3em);
}

.nav-primary li {
    color: rgb(0, 13, 37) ;
}

.nav-primary li:hover {
    color: white;
    transform: scale(1.5);
}

.nav-secondary li {
    color: rgb(31, 147, 255) ;
}

.nav-secondary li:hover {
    filter: brightness(0.7);
    transform: scale(1.5);
}