/* Nav-social */
.nav-social {
    margin: 1.25em 0 1.25em 0;
}

.nav-social ul {
    list-style: none;
    margin: 0.75em 0 0 0;
    padding: 0;
    width: 100%;
}

.nav-social li {
    transition: transform 0.3s ease-in;
}

.nav-social li:active {
    transform: translateY(0.3em);
}

.nav-secondary ul, .nav-tertiary ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-secondary li, .nav-tertiary li {
    font-size: 1.25em;
    padding: 0 0.60em;
}

.nav-secondary li:hover {
    color: white;
    transform: scale(1.5);
}

.nav-secondary li {
    color: rgb(0, 13, 37);
}
.nav-tertiary li {
    color: white;
}

.nav-tertiary li:hover {
    filter: brightness(0.9);
    transform: scale(1.35);
}

.nav-primary ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nav-primary li {
    color: whitesmoke;
    font-size: 0.9em;
    padding: 0.60em 0;
    text-align: center;
}

.nav-primary li:hover i {
    opacity: 0;
}

.nav-primary li::after {
    content: '';
    font-size: 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: rgb(0, 102, 200);
    margin-top: -2em;
    display: block;
    opacity: 0;
}

.nav-primary li:hover::after {
    opacity: 1;
}

.nav-primary li:first-child::after {
    content: 'LinkedIn';
}
.nav-primary li:last-child::after {
    content: 'Facebook';
}